.back {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 24px;
  border-radius: 4px;
  background-color: #e9eceb;
}

.next {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 24px;
  border-radius: 4px;
  background-color: #e9eceb;
}

.page {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 4px;
  background-color: #e9eceb;
}

.pageSelected {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 4px;
  color: #fff;
  background-color: #24473b;
}
